{% extends 'nostalgic/index.html.twig' %}

{% block body %}
    {% if formNostalgic is defined %}
    <div>
            {{ form_start(formNostalgic) }}

        <div class="w-full max-w-sm">
            <div class="flex flex-row mb-3">
                <div class="w-1/3 self-center">
                {{ form_label(formNostalgic.channel) }}</div>
                <div class="w-2/3 ml-2">
                {{ form_widget(formNostalgic.channel) }}</div>
            </div>
            <div class="flex flex-row mb-3">
                <div class="w-1/3 self-center">
                {{ form_label(formNostalgic.period) }}</div>
                <div class="w-2/3 ml-2">
                {{ form_widget(formNostalgic.period) }}</div>
            </div>
            <div class="flex flex-row mb-3">
                <div class="w-1/3"></div>
                <div class="w-2/3 ml-2">
                {{ form_widget(formNostalgic.search) }}
                {{ form_widget(formNostalgic.feeling_lucky) }}
                </div>
            </div>
        </div>
            {{ form_end(formNostalgic) }}
    </div>
    {% endif %}
{% endblock %}
