{% extends 'nostalgic/index.html.twig' %}
{% block body %}
    <div class="flex flex-wrap bg-grey-lighter">
        {% for result in results %}
            <div class="w-1/3 p-2">
                <div class="text-grey-darker text-center bg-grey-light p-4">
                    <a href="nostalgic/channel/{{ result.snippet.channelId }}/period/{{ period }}">
                        <div><img src="{{ result.snippet.thumbnails.default.url }}"
                                  alt=" {{ result.snippet.channelTitle }}"></div>
                        <div>
                            <p>
                                {{ result.snippet.channelTitle }}
                            </p>
                            <p>Member since {{ result.snippet.publishedAt |date("d F y") }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
