{% extends 'year_in_review/index.html.twig' %}

{% block body %}
    <div>
            {{ form_start(formYearInReview) }}

        <div class="w-full max-w-sm">
            <div class="flex flex-row mb-3">
                <div class="w-1/3 self-center">
                {{ form_label(formYearInReview.channel) }}</div>
                <div class="w-2/3 ml-2">
                {{ form_widget(formYearInReview.channel) }}</div>
            </div>
            <div class="flex flex-row mb-3">
                <div class="w-1/3"></div>
                <div class="w-2/3 ml-2">
                {{ form_widget(formYearInReview.search) }}
                {{ form_widget(formYearInReview.feeling_lucky) }}
                </div>
            </div>
        </div>

            {{ form_end(formYearInReview) }}
    </div>
{% endblock %}
